node_modules/
build/
dist/
generated/

.DS_Store
Thumbs.db

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraformrc
terraform.rc

*.log
logs
*.lock

*.retry

*.key
*.crt
*.conf

.env*