PORT=3000
BROADCAST_REFRESH_UPDATE=50

ENABLE_COHERENCE_BACKEND=true

ENABLE_REDIS_BACKEND=true
REDIS_PASSWORD=MASTERPASSWORD

CLEANUP_STALE_IN_SECONDS=2
BROADCAST_ITEMS_IN_SECONDS=2

ITEM_MAX_SIZE=0.9
ITEM_MIN_SIZE=0.5

WORLD_SIZE_X=88
WORLD_SIZE_Y=22

GAME_DURATION_IN_SECONDS=180