apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
spec:
  ingressClassName: nginx
  tls:
  - secretName: tls
  rules:
  - http:
      paths:
      - path: /socket.io
        pathType: Prefix
        backend:
          service:
            name: server
            port:
              number: 3000
      # - path: /healthz
      #   pathType: Prefix
      #   backend:
      #     service:
      #       name: server
      #       port:
      #         number: 3000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: web
            port:
              number: 80