config_file_profile  = "DEFAULT"
tenancy_ocid = "ocid1.tenancy.oc1..xxxxx"
user_ocid = "ocid1.user.oc1..aaaaaaaaiycdlr4aeju3gtzf357ug3l3bsnunzvqomdkkcx64nc4mr42pqla"
fingerprint = "xx:yy:"
private_key_path = ".ssh/oci.pem"
region = "uk-london-1"
compartment_ocid     = "ocid1.compartment.oc1..xxxxx"
ssh_public_key       = "xxxxx"
