*
{
    margin: 0;
    padding: 0;
}

html,
table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #aaa;
    padding: 5px;
    text-align: left;
}

canvas {
    background: #CC6;
    }
body
{
    height: 100vh;
    font-family: 'Poppins';
    overflow: hidden;
    background-color: #ffffff;
}

.label {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 2px;
    /* background: rgba( 0, 0, 0, .6 ); */
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: tomato;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
        margin: 10px;
	}

    #overlay input {
        margin: 10px;
    }

#blocker {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}

#overlay p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: snow;
  }

#instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
    
  #instructions ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #instructions li {
    font-style: italic;
    text-align: center;
    color: #fff;
  }
  
  
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#scoreboard {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
}

#game-over {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

#restart-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #score-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000;
  }
  
  #overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
    
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  #input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
  }
  